<div id="family_top">
	<a name="family_top"></a>
	<img src="images/family/title_image_0.jpg" alt="">
	<img src="images/family/image_1.jpg" alt="">
	<img src="images/family/banner_7.jpg" alt="">
	<!-- <section>
		<p>每年可協助您省下 <span>258度</span> 電力, (家庭月均用電量 291 度, 待機耗電 7.4%)</p>
		<br>
		<p>同時減少 <span>164公斤</span> 的二氧化碳排放量</p>
	</section> -->
</div>
<img src="images/family/banner_1.jpg" alt="">
<img src="images/family/banner_2.jpg" alt="">
<div id="family_mid">
	<a name="family_mid"></a>
	<img src="images/family/title_image_1.jpg" alt="">
	<img src="images/family/banner_3.jpg" alt="">
</div>
<div id="family_bottom">
	<a name="family_bottom"></a>
	<img src="images/family/title_image_2.jpg" alt="">
	<img src="images/family/banner_4.jpg" alt="">
	<img src="images/family/banner_5.jpg" alt="">
	<!-- <img src="images/industrial/footer_icon.jpg" alt=""> -->
</div>