<% content_for :about_arki_top do %>
	<div id="about_arki_top"></div>
	<a name="about_arki_top"></a>
	<section id="about_arki_app">
		<h5>藝匠科技創造智能生活應用方案的新世紀</h5>
		<section>
			<p>
			藝匠科技著重於-智能工業、智能家庭、智慧安全防護、家庭智能照護、節能環保、家庭娛樂、結合的智能未來生活方程式。目標創造出便利與友善生活的智能未來。
			</p>
			<p>
				藝匠科技成立於 2011 年，團隊內包括電子電機與電腦科學碩博士，專精於演算法與智能運用，我們所研發、製造的產品包括家用與工業用無線智能控制模組，無線聲音與影像傳輸系統，無線 Gateway，包括 ZigBee、Z-Wave、WIFI、NFC 等多種協定無線智能產品，同時也提供完整的開發中介軟體以加速客戶系統架設，追求各種能協助客戶適用於各種環境需求之解決方案。
			</p>
			<p>
				我們擁有專業的軟硬體開發團隊，針對不同客戶需求，提供「客製化軟體」的開發及系統整合服務。應用客戶領域：家用消費性電子、電子業、製造業、流通零售業、物流倉儲業、醫療業、公營事業單位、教育、郵政、軍警單位。
			</p>
		</section>
	</section>
<% end %>

<% content_for :about_arki_mid do %>
	<div id="about_arki_mid"></div>
	<a name="about_arki_mid"></a>
	<section id="about_arki_milestone">
		<table>
			<tr colspan="2">
				<td><span>Arki Cluster element</span></td>
				<td><span>Milestone</span></td>
			</tr>
			<tr>
				<td>Digital Signal Processing PhD</td>
				<td>Research in H.264 algorithm coding since 2006</td>
			</tr>
			<tr>
				<td>Image algorithm PhD</td>
				<td>Research in Multi-View algorithm since 2007</td>
			</tr>
			<tr>
				<td>Software Engineering PhD</td>
				<td>Developer Multi Projector Engineer system since 2008</td>
			</tr>
			<tr>
				<td>Electronic Engineering</td>
				<td>Field of application in Merging Multi-projector Systems since 2009</td>
			</tr>
			<tr>
				<td>Computer Science</td>
				<td>Field of application in 2D Picture to 3D reconstruction since 2009</td>
			</tr>
			<tr>
				<td>Art Designer</td>
				<td>Smart Home Automation project since 2009</td>
			</tr>
			<tr>
				<td>Web Software Engineering</td>
				<td>Developer Multi-Touch algorithm since 2010</td>
			</tr>
			<tr>
				<td></td>
				<td>Producer Multi touch sensor panel since 2010</td>
			</tr>
			<tr>
				<td></td>
				<td>Developer Cloud Computing in Android system since 2010</td>
			</tr>
			<tr>
				<td></td>
				<td>Producer Multi View System 2011-12</td>
			</tr>
			<tr>
				<td></td>
				<td>Producer information peer to peer streaming Android 2011-12</td>
			</tr>
			<tr>
				<td></td>
				<td>Wireless control module 2013-14</td>
			</tr>
			<tr>
				<td></td>
				<td>Wireless Audio / Video RX system 2014</td>
			</tr>
			<tr>
				<td></td>
				<td>Smart gateway 2014</td>
			</tr>
		</table>
	</section>
<% end%>

<% content_for :about_arki_bottom do %>
	<!-- <div id="about_arki_bottom"></div> -->
<% end %>