<div id="mitech_arch">
	<a name="mitech_arch"></a>
	<img src="images/mitech/title_image_1.jpg" alt="">
	<img src="images/mitech/banner_1.jpg" alt="">
</div>
<div id="mitech_research">
	<a name="mitech_research"></a>
	<img src="images/mitech/title_image_0.jpg" alt="">
	<img src="images/mitech/banner_2.jpg" alt="">
</div>
<!-- <div id="mitech_feature">
	<a name="mitech_feature"></a>
	<img src="images/mitech/title_image_2.jpg" alt="">
	<img src="images/mitech/banner_3.jpg" alt="">
	<img src="images/industrial/footer_icon.jpg" alt="">
</div> -->