<div id="sec_top">
	<a name="sec_top"></a>
	<img src="images/security/title_image_0.jpg" alt="">
	<img src="images/security/banner_1.jpg" alt="">
	<!-- <img src="images/industrial/footer_icon.jpg" alt=""> -->
</div>