/* line 17, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/style.scss */
html, body {
  height: 100%;
  min-height: 100%;
  color: #747474;
  background-color: #FFFFFF;
}

/* line 20, ../sass/style.scss */
.content-wrapper {
  position: relative;
  width: 1024px;
  margin: 0 auto;
}

/* line 26, ../sass/style.scss */
header {
  background: url("../images/about/top.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 130px;
}

/* line 33, ../sass/style.scss */
footer {
  background: url("../images/about/footer.jpg") no-repeat center center;
  width: 1024px;
  height: 55px;
  margin: 0 auto;
}

/* line 40, ../sass/style.scss */
#home_footer {
  background: url("../images/industrial/footer_icon.jpg") no-repeat center center;
  width: 176px;
  height: 186px;
  margin: 20px auto 0;
}

/* line 47, ../sass/style.scss */
#icon_wrapper {
  display: table;
  margin: 0 auto;
  min-width: 878px;
}

/* line 53, ../sass/style.scss */
#logo {
  width: 222px;
  height: 57px;
  margin-bottom: 20px;
  margin-right: 300px;
}

/* line 59, ../sass/style.scss */
#slogan {
  width: 286px;
  height: 110px;
  margin-left: 70px;
}

/* line 64, ../sass/style.scss */
#menu {
  width: 1024px;
  height: 491px;
  position: relative;
}

/* line 72, ../sass/style.scss */
#slider {
  width: 1024px;
  height: 491px;
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

/* line 81, ../sass/style.scss */
#slider_queue {
  width: 1024px;
  height: 491px;
  cursor: move;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

/* line 90, ../sass/style.scss */
#slider li {
  position: absolute;
}

/* line 94, ../sass/style.scss */
#about_arki_top {
  background: url("../images/about/banner_1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1024px;
  height: 611px;
}

/* line 100, ../sass/style.scss */
#about_arki_mid {
  background: url("../images/about/banner_2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1024px;
  height: 374px;
}

/* line 106, ../sass/style.scss */
#about_arki_bottom {
  background: url("../images/about/banner_3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1024px;
  height: 679px;
  margin-top: 20px;
}

/* line 113, ../sass/style.scss */
#about_arki_app {
  padding: 50px 100px;
}
/* line 115, ../sass/style.scss */
#about_arki_app h5 {
  color: #b6cd00;
}
/* line 118, ../sass/style.scss */
#about_arki_app section {
  line-height: 28px;
  color: #6a6a6a;
}
/* line 121, ../sass/style.scss */
#about_arki_app section p {
  margin-top: 32px;
}

/* line 127, ../sass/style.scss */
#about_arki_milestone {
  padding: 50px 100px;
}
/* line 129, ../sass/style.scss */
#about_arki_milestone table {
  width: 100%;
}
/* line 132, ../sass/style.scss */
#about_arki_milestone tr {
  height: 32px;
}
/* line 135, ../sass/style.scss */
#about_arki_milestone td {
  width: 58%;
  color: #6a6a6a;
}
/* line 138, ../sass/style.scss */
#about_arki_milestone td span {
  padding: 5px;
  color: #fefffc;
  background-color: #b6cd00;
}
/* line 144, ../sass/style.scss */
#about_arki_milestone td:first-child {
  width: 42%;
}

/* line 149, ../sass/style.scss */
.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

/* line 161, ../sass/style.scss */
.copyright {
  text-align: center;
  margin-top: 15px;
}

/* line 166, ../sass/style.scss */
#indust_top {
  padding: 50px;
}
/* line 168, ../sass/style.scss */
#indust_top > img {
  display: block;
  margin: 0 auto;
}
/* line 172, ../sass/style.scss */
#indust_top > section {
  padding: 50px 0 0 150px;
}
/* line 175, ../sass/style.scss */
#indust_top > section > div {
  position: relative;
  margin-bottom: 20px;
}
/* line 179, ../sass/style.scss */
#indust_top > section > div > h5 {
  position: absolute;
  bottom: 0;
  left: 85px;
}
/* line 184, ../sass/style.scss */
#indust_top > section > p {
  line-height: 26px;
}

/* line 189, ../sass/style.scss */
#indust_mid {
  padding: 120px 0 50px 0;
  text-align: center;
}
/* line 192, ../sass/style.scss */
#indust_mid p {
  margin-top: 12px;
  font-size: 26px;
  color: #b6cd00;
}

/* line 199, ../sass/style.scss */
#indust_bottom {
  padding: 120px 0 50px 0;
}
/* line 201, ../sass/style.scss */
#indust_bottom img {
  display: block;
  margin: 0 auto 50px auto;
}
/* line 205, ../sass/style.scss */
#indust_bottom > img:last-child {
  margin: 0 auto;
}
/* line 208, ../sass/style.scss */
#indust_bottom > div {
  position: relative;
}
/* line 211, ../sass/style.scss */
#indust_bottom > div > span {
  position: absolute;
  left: 250px;
  top: 27px;
  color: #b6cd00;
}
/* line 217, ../sass/style.scss */
#indust_bottom section {
  position: absolute;
  right: 25px;
  top: 35px;
  line-height: 35px;
}
/* line 223, ../sass/style.scss */
#indust_bottom section > h4 {
  margin-left: -18px;
  font-weight: bolder;
  font-size: 18px;
}
/* line 228, ../sass/style.scss */
#indust_bottom section > ul > li {
  list-style: initial;
}

/* line 236, ../sass/style.scss */
#family_top {
  padding: 50px 0 50px 0;
}
/* line 240, ../sass/style.scss */
#family_top > img {
  display: block;
  margin: 0 auto 20px auto;
}
/* line 244, ../sass/style.scss */
#family_top section {
  text-align: center;
}
/* line 247, ../sass/style.scss */
#family_top section > p {
  line-height: 40px;
  display: inline-flex;
}
/* line 251, ../sass/style.scss */
#family_top section > p > span {
  background: url("../images/family/message_1.jpg") no-repeat;
  background-position: 2px 7px;
  display: block;
  width: 68px;
}
/* line 257, ../sass/style.scss */
#family_top section > p:last-child {
  margin-left: 255px;
}

/* line 262, ../sass/style.scss */
#family_mid {
  padding: 50px 0 50px 0;
}
/* line 264, ../sass/style.scss */
#family_mid > img {
  display: block;
  margin: 0 auto 20px auto;
}

/* line 270, ../sass/style.scss */
#family_bottom {
  padding: 50px 0 50px 0;
}
/* line 272, ../sass/style.scss */
#family_bottom > img {
  display: block;
  margin: 0 auto 20px auto;
}

/* line 281, ../sass/style.scss */
#sec_top {
  padding: 50px 0 50px 0;
}
/* line 283, ../sass/style.scss */
#sec_top > img {
  display: block;
  margin: 0 auto 50px auto;
}

/* line 291, ../sass/style.scss */
#app_remote {
  padding: 0px 0 50px 0;
}
/* line 293, ../sass/style.scss */
#app_remote > img {
  display: block;
  margin: 0 auto 20px auto;
}
/* line 297, ../sass/style.scss */
#app_remote > img:nth-child(3) {
  margin: 0 auto;
}

/* line 302, ../sass/style.scss */
#app_full {
  padding: 0 0 50px 0;
}
/* line 304, ../sass/style.scss */
#app_full > img {
  display: block;
  margin: 0 auto 20px auto;
}
/* line 308, ../sass/style.scss */
#app_full > img:nth-child(3) {
  margin: 0 auto;
}

/* line 314, ../sass/style.scss */
#app_power > img {
  display: block;
  margin: 0 auto 20px auto;
}
/* line 318, ../sass/style.scss */
#app_power > img:nth-child(2) {
  margin: 0 auto;
}

/* line 323, ../sass/style.scss */
#app_media {
  padding: 50px 0 50px 0;
}
/* line 325, ../sass/style.scss */
#app_media > img {
  display: block;
  margin: 0 auto 20px auto;
}
/* line 329, ../sass/style.scss */
#app_media > img:nth-child(3) {
  margin: 0 auto;
}

/* line 336, ../sass/style.scss */
#mitech_arch {
  padding: 20px 0 0 0;
}
/* line 338, ../sass/style.scss */
#mitech_arch > img {
  display: block;
  margin: 0 auto 50px auto;
}

/* line 344, ../sass/style.scss */
#mitech_research {
  padding: 0 0 0 0;
}
/* line 346, ../sass/style.scss */
#mitech_research > img {
  display: block;
  margin: 0 auto 50px auto;
}

/* line 352, ../sass/style.scss */
#mitech_feature {
  padding: 50px 0 0 0;
}
/* line 354, ../sass/style.scss */
#mitech_feature > img {
  display: block;
  margin: 0 auto 50px auto;
}

/* line 362, ../sass/style.scss */
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 387, ../sass/style.scss */
.scroll-top-wrapper:hover {
  background-color: #888888;
}

/* line 390, ../sass/style.scss */
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}

/* line 395, ../sass/style.scss */
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
